.title-check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(176, 33, 81);
}

.title-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-list svg {
    color: brown;
}